# funnel analyis

### Objectives:
- Full picture of funnel conversion rate for mobile and desktop
- What should the product team focus on?

In [1]:
import numpy as np
import pandas as pd
from __future__ import division

### Import data

In [6]:
user_table = pd.read_csv('user_table.csv')
home_page_table = pd.read_csv('home_page_table.csv')
search_page_table = pd.read_csv('search_page_table.csv')
payment_page_table = pd.read_csv('payment_page_table.csv')
payment_confirmation_table = pd.read_csv('payment_confirmation_table.csv')

### merge tables

In [35]:
user_table.merge(home_page_table.merge(search_page_table.merge(payment_page_table, on='user_id'), on='user_id', how='right'), on='user_id', how='left')

,user_id,date,device,sex,page,page_x,page_y
0,450007,2015-02-28,Desktop,Female,NaN,NaN,NaN
1,756838,2015-01-13,Desktop,Male,NaN,NaN,NaN
2,568983,2015-04-09,Desktop,Male,NaN,NaN,NaN
3,190794,2015-02-18,Desktop,Female,NaN,NaN,NaN
4,537909,2015-01-15,Desktop,Male,NaN,NaN,NaN
5,993454,2015-03-03,Desktop,Male,NaN,NaN,NaN
6,377150,2015-04-15,Desktop,Female,NaN,NaN,NaN
7,137258,2015-01-27,Mobile,Male,NaN,NaN,NaN
8,608249,2015-04-12,Desktop,Female,NaN,NaN,NaN
9,615615,2015-02-24,Mobile,Female,NaN,NaN,NaN
10,96069,2015-04-13,Mobile,Female,NaN,NaN,NaN
11,664476,2015-02-13,Desktop,Female,NaN,NaN,NaN
12,236201,2015-03-14,Desktop,Male,NaN,NaN,NaN
13,796359,2015-04-02,Desktop,Male,NaN,NaN,NaN
14,592962,2015-04-25,Desktop,Male,NaN,NaN,NaN
15,971488,2015-02-27,Desktop,Female,NaN,NaN,NaN
16,610157,2015-02-11,Desktop,Female,NaN,NaN,NaN
17,561375,2015-04-11,Desktop,Female,NaN,NaN,NaN
18,624556,2015-01-25,Desktop,Male,NaN,NaN,NaN
19,443293,2015-03-19,Mobile,Male,NaN,NaN,NaN
20,435414,2015-03-11,Mobile,Female,NaN,NaN,NaN
21,969529,2015-04-14,Desktop,Female,NaN,NaN,NaN
22,830503,2015-01-21,Desktop,Female,NaN,NaN,NaN
23,184748,2015-02-18,Mobile,Male,NaN,NaN,NaN
24,68397,2015-04-02,Desktop,Male,NaN,NaN,NaN
25,682442,2015-04-03,Desktop,Male,NaN,NaN,NaN
26,62655,2015-01-30,Desktop,Female,NaN,NaN,NaN
27,159517,2015-03-25,Desktop,Male,NaN,NaN,NaN
28,78294,2015-04-19,Mobile,Female,NaN,NaN,NaN
29,504960,2015-03-08,Desktop,Female,NaN,NaN,NaN
...,...,...,...,...,...,...,...
90370,430542,2015-03-09,Mobile,Female,NaN,NaN,NaN
90371,3023,2015-02-09,Desktop,Female,NaN,NaN,NaN
90372,549682,2015-03-19,Desktop,Female,NaN,NaN,NaN
90373,29536,2015-04-26,Mobile,Male,NaN,NaN,NaN
90374,202489,2015-04-19,Mobile,Female,NaN,NaN,NaN
90375,441424,2015-01-07,Desktop,Female,NaN,NaN,NaN
90376,688916,2015-01-02,Desktop,Female,NaN,NaN,NaN
90377,969031,2015-04-21,Desktop,Male,NaN,NaN,NaN
90378,287951,2015-03-29,Desktop,Male,NaN,NaN,NaN
90379,143795,2015-03-13,Desktop,Female,NaN,NaN,NaN
90380,466655,2015-04-14,Desktop,Female,NaN,NaN,NaN
90381,255403,2015-02-13,Desktop,Female,NaN,NaN,NaN
90382,336028,2015-04-08,Desktop,Female,NaN,NaN,NaN
90383,611922,2015-03-15,Desktop,Male,NaN,NaN,NaN
90384,527269,2015-03-31,Desktop,Male,NaN,NaN,NaN
90385,118537,2015-03-02,Desktop,Male,NaN,NaN,NaN
90386,521092,2015-01-13,Desktop,Female,NaN,NaN,NaN
90387,360859,2015-01-06,Desktop,Female,NaN,NaN,NaN
90388,182714,2015-01-13,Desktop,Female,home_page,search_page,payment_page
90389,933961,2015-04-13,Mobile,Female,NaN,NaN,NaN
90390,128231,2015-02-25,Desktop,Female,NaN,NaN,NaN
90391,545678,2015-03-03,Desktop,Female,NaN,NaN,NaN
90392,492404,2015-02-27,Desktop,Male,home_page,search_page,payment_page
90393,352574,2015-02-23,Desktop,Female,NaN,NaN,NaN
90394,163518,2015-02-26,Mobile,Female,home_page,search_page,payment_page
90395,307667,2015-03-30,Desktop,Female,NaN,NaN,NaN
90396,642989,2015-02-08,Desktop,Female,NaN,NaN,NaN
90397,659645,2015-04-13,Desktop,Male,NaN,NaN,NaN
90398,359779,2015-03-23,Desktop,Male,NaN,NaN,NaN
90399,438929,2015-03-26,Mobile,Female,NaN,NaN,NaN

In [46]:
converted_customers = user_table.merge(payment_confirmation_table, on='user_id', how='right')

In [50]:
user_table[user_table['user_id'] != payment_confirmation_table['user_id']]

ValueError: Series lengths must match to compare

In [32]:
search_page_table.head()

   user_id         page
0    15866  search_page
1   347058  search_page
2   577020  search_page
3   780347  search_page
4   383739  search_page