<a id='toc'></a>

# Table of Contents
[Data Expoloration](#Data_Exploration)

In [569]:
import os
import numpy as np
import pandas as pd

In [570]:
os.listdir()

['.ipynb_checkpoints',
 'WDI_csv.zip',
 'WDICountry-Series.csv',
 'WDICountry.csv',
 'WDIData.csv',
 'WDIFootNote.csv',
 'WDISeries-Time.csv',
 'WDISeries.csv',
 'world_bank_data_notebook.ipynb']

<a id='Data_Exploration'></a>[Return to TOC](#toc)

# Data exploration

In [571]:
country = pd.read_csv('WDICountry.csv')
country_series = pd.read_csv('WDICountry-Series.csv')
wdi = pd.read_csv('WDIData.csv')
foot_note = pd.read_csv('WDIFootNote.csv')
wdi_series_time = pd.read_csv('WDISeries-Time.csv')
wdi_series = pd.read_csv('WDISeries.csv')

In [572]:
data_files = ['country', 'country_series', 'wdi', 'foot_note', 'wdi_series_time', 'wdi_series']

In [573]:
for df_name in data_files:
    print(df_name, eval(df_name).shape)
    print(eval(df_name).head(3))

country (263, 32)
  Country Code   Short Name   Table Name                     Long Name  \
0          ABW        Aruba        Aruba                         Aruba
1          AFG  Afghanistan  Afghanistan  Islamic State of Afghanistan
2          AGO       Angola       Angola   People's Republic of Angola

  2-alpha code   Currency Unit  \
0           AW   Aruban florin
1           AF  Afghan afghani
2           AO  Angolan kwanza

                                       Special Notes  \
0  SNA data for 2000-2011 are updated from offici...
1  Fiscal year end: March 20; reporting period fo...
2                                                NaN

                      Region         Income Group WB-2 code     ...      \
0  Latin America & Caribbean          High income        AW     ...
1                 South Asia           Low income        AF     ...
2         Sub-Saharan Africa  Lower middle income        AO     ...

                     IMF data dissemination standard  \
0                                                NaN
1  Enhanced General Data Dissemination System (e-...
2  Enhanced General Data Dissemination System (e-...

   Latest population census                 Latest household survey  \
0                      2010                                     NaN
1                      1979     Demographic and Health Survey, 2015
2                      2014  Demographic and Health Survey, 2015/16

  Source of most recent Income and expenditure data  \
0                                               NaN
1           Integrated household survey (IHS), 2011
2        Integrated household survey (IHS), 2008/09

  Vital registration complete Latest agricultural census  \
0                         Yes                        NaN
1                         NaN                        NaN
2                         NaN                        NaN

  Latest industrial data Latest trade data Latest water withdrawal data  \
0                    NaN            2015.0                          NaN
1                    NaN            2015.0                       2000.0
2                    NaN            2015.0                       2005.0

  Unnamed: 31
0         NaN
1         NaN
2         NaN

[3 rows x 32 columns]
country_series (6285, 4)
  CountryCode         SeriesCode  \
0         ABW  EG.EGY.PRIM.PP.KD
1         ABW     EG.ELC.RNEW.ZS
2         ABW     EG.FEC.RNEW.ZS

                                         DESCRIPTION  Unnamed: 3
0  Sources: Estimated based on UN Energy Statisti...         NaN
1               Sources: UN Energy Statistics (2014)         NaN
2               Sources: UN Energy Statistics (2014)         NaN
wdi (401016, 62)
  Country Name Country Code  \
0   Arab World          ARB
1   Arab World          ARB
2   Arab World          ARB

                                      Indicator Name     Indicator Code  1960  \
0  2005 PPP conversion factor, GDP (LCU per inter...      PA.NUS.PPP.05   NaN
1  2005 PPP conversion factor, private consumptio...  PA.NUS.PRVT.PP.05   NaN
2  Access to clean fuels and technologies for coo...     EG.CFT.ACCS.ZS   NaN

   1961  1962  1963  1964  1965     ...            2008       2009       2010  \
0   NaN   NaN   NaN   NaN   NaN     ...             NaN        NaN        NaN
1   NaN   NaN   NaN   NaN   NaN     ...             NaN        NaN        NaN
2   NaN   NaN   NaN   NaN   NaN     ...       82.831932  83.474617  84.006076

        2011       2012       2013       2014  2015  2016  Unnamed: 61
0        NaN        NaN        NaN        NaN   NaN   NaN          NaN
1        NaN        NaN        NaN        NaN   NaN   NaN          NaN
2  84.416148  84.734574  85.003645  85.244971   NaN   NaN          NaN

[3 rows x 62 columns]
foot_note (463231, 5)
  CountryCode      SeriesCode    Year    DESCRIPTION  Unnamed: 4
0         ABW  AG.LND.FRST.K2  YR1990  Not specified         NaN
1         ABW  AG.LND.FRST.K2  YR2000  Not specified         NaN
2         ABW  AG.LND.FRST.K2  YR2005  Not specified         NaN
wdi_series_time (373, 4)
       SeriesCode    Year                                        DESCRIPTION  \
0     SP.ADO.TFRT  YR1960         Interpolated using data for 1957 and 1962.
1  SP.DYN.AMRT.FE  YR1960  Interpolated using data for 1957 and 1962, if ...
2  SP.DYN.AMRT.MA  YR1960  Interpolated using data for 1957 and 1962, if ...

   Unnamed: 3
0         NaN
1         NaN
2         NaN
wdi_series (1518, 21)
         Series Code                                 Topic  \
0     AG.AGR.TRAC.NO  Environment: Agricultural production
1  AG.CON.FERT.PT.ZS  Environment: Agricultural production
2     AG.CON.FERT.ZS  Environment: Agricultural production

                                      Indicator Name Short definition  \
0                   Agricultural machinery, tractors              NaN
1  Fertilizer consumption (% of fertilizer produc...              NaN
2  Fertilizer consumption (kilograms per hectare ...              NaN

                                     Long definition Unit of measure  \
0  Agricultural machinery refers to the number of...             NaN
1  Fertilizer consumption measures the quantity o...             NaN
2  Fertilizer consumption measures the quantity o...             NaN

  Periodicity Base Period Other notes Aggregation method     ...      \
0      Annual         NaN         NaN                Sum     ...
1      Annual         NaN         NaN   Weighted average     ...
2      Annual         NaN         NaN   Weighted average     ...

  Notes from original source General comments  \
0                        NaN              NaN
1                        NaN              NaN
2                        NaN              NaN

                                              Source  \
0  Food and Agriculture Organization, electronic ...
1  Food and Agriculture Organization, electronic ...
2  Food and Agriculture Organization, electronic ...

                 Statistical concept and methodology  \
0  A tractor provides the power and traction to m...
1  Fertilizer consumption measures the quantity o...
2  Fertilizer consumption measures the quantity o...

                               Development relevance Related source links  \
0  Agricultural land covers more than one-third o...                  NaN
1  Factors such as the green revolution, has led ...                  NaN
2  Factors such as the green revolution, has led ...                  NaN

  Other web links  Related indicators  License Type Unnamed: 20
0             NaN                 NaN          Open         NaN
1             NaN                 NaN          Open         NaN
2             NaN                 NaN          Open         NaN

[3 rows x 21 columns]

In [574]:
for df_name in data_files:
    print("data: {}".format(df_name), eval(df_name).shape)
    print(eval(df_name).columns)

data: country (263, 32)
Index(['Country Code', 'Short Name', 'Table Name', 'Long Name', '2-alpha code',
       'Currency Unit', 'Special Notes', 'Region', 'Income Group', 'WB-2 code',
       'National accounts base year', 'National accounts reference year',
       'SNA price valuation', 'Lending category', 'Other groups',
       'System of National Accounts', 'Alternative conversion factor',
       'PPP survey year', 'Balance of Payments Manual in use',
       'External debt Reporting status', 'System of trade',
       'Government Accounting concept', 'IMF data dissemination standard',
       'Latest population census', 'Latest household survey',
       'Source of most recent Income and expenditure data',
       'Vital registration complete', 'Latest agricultural census',
       'Latest industrial data', 'Latest trade data',
       'Latest water withdrawal data', 'Unnamed: 31'],
      dtype='object')
data: country_series (6285, 4)
Index(['CountryCode', 'SeriesCode', 'DESCRIPTION', 'Unnamed: 3'], dtype='object')
data: wdi (401016, 62)
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', 'Unnamed: 61'],
      dtype='object')
data: foot_note (463231, 5)
Index(['CountryCode', 'SeriesCode', 'Year', 'DESCRIPTION', 'Unnamed: 4'], dtype='object')
data: wdi_series_time (373, 4)
Index(['SeriesCode', 'Year', 'DESCRIPTION', 'Unnamed: 3'], dtype='object')
data: wdi_series (1518, 21)
Index(['Series Code', 'Topic', 'Indicator Name', 'Short definition',
       'Long definition', 'Unit of measure', 'Periodicity', 'Base Period',
       'Other notes', 'Aggregation method', 'Limitations and exceptions',
       'Notes from original source', 'General comments', 'Source',
       'Statistical concept and methodology', 'Development relevance',
       'Related source links', 'Other web links', 'Related indicators',
       'License Type', 'Unnamed: 20'],
      dtype='object')

In [575]:
print(data_files)

['country', 'country_series', 'wdi', 'foot_note', 'wdi_series_time', 'wdi_series']

### Reformat the column names to make them easier to work with

In [576]:
def make_list_removed_white_space_in_column_names(pandas_data_frame):
    list_column_names_removed_white_space = list()
    for column_name in eval(pandas_data_frame).columns:
        print(column_name)
        if column_name[0] == '\ufeff':   # because first column name in each frame includes this
            column_name = column_name.strip(u'\ufeff').replace('"', '')
        list_column_names_removed_white_space.append('_'.join(column_name.lower().split()))
    return list_column_names_removed_white_space

In [577]:
for df_name in data_files:
    eval(df_name).columns = make_list_removed_white_space_in_column_names(df_name)

Country Code
Short Name
Table Name
Long Name
2-alpha code
Currency Unit
Special Notes
Region
Income Group
WB-2 code
National accounts base year
National accounts reference year
SNA price valuation
Lending category
Other groups
System of National Accounts
Alternative conversion factor
PPP survey year
Balance of Payments Manual in use
External debt Reporting status
System of trade
Government Accounting concept
IMF data dissemination standard
Latest population census
Latest household survey
Source of most recent Income and expenditure data
Vital registration complete
Latest agricultural census
Latest industrial data
Latest trade data
Latest water withdrawal data
Unnamed: 31
CountryCode
SeriesCode
DESCRIPTION
Unnamed: 3
Country Name
Country Code
Indicator Name
Indicator Code
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
Unnamed: 61
CountryCode
SeriesCode
Year
DESCRIPTION
Unnamed: 4
SeriesCode
Year
DESCRIPTION
Unnamed: 3
Series Code
Topic
Indicator Name
Short definition
Long definition
Unit of measure
Periodicity
Base Period
Other notes
Aggregation method
Limitations and exceptions
Notes from original source
General comments
Source
Statistical concept and methodology
Development relevance
Related source links
Other web links
Related indicators
License Type
Unnamed: 20

In [578]:
wdi.head(3)

,country_name,country_code,indicator_name,indicator_code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,unnamed:_61
0,Arab World,ARB,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"2005 PPP conversion factor, private consumptio...",PA.NUS.PRVT.PP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,82.831932,83.474617,84.006076,84.416148,84.734574,85.003645,85.244971,NaN,NaN,NaN

In [579]:
wdi_series.head(3)

,series_code,topic,indicator_name,short_definition,long_definition,unit_of_measure,periodicity,base_period,other_notes,aggregation_method,...,notes_from_original_source,general_comments,source,statistical_concept_and_methodology,development_relevance,related_source_links,other_web_links,related_indicators,license_type,unnamed:_20
0,AG.AGR.TRAC.NO,Environment: Agricultural production,"Agricultural machinery, tractors",NaN,Agricultural machinery refers to the number of...,NaN,Annual,NaN,NaN,Sum,...,NaN,NaN,"Food and Agriculture Organization, electronic ...",A tractor provides the power and traction to m...,Agricultural land covers more than one-third o...,NaN,NaN,NaN,Open,NaN
1,AG.CON.FERT.PT.ZS,Environment: Agricultural production,Fertilizer consumption (% of fertilizer produc...,NaN,Fertilizer consumption measures the quantity o...,NaN,Annual,NaN,NaN,Weighted average,...,NaN,NaN,"Food and Agriculture Organization, electronic ...",Fertilizer consumption measures the quantity o...,"Factors such as the green revolution, has led ...",NaN,NaN,NaN,Open,NaN
2,AG.CON.FERT.ZS,Environment: Agricultural production,Fertilizer consumption (kilograms per hectare ...,NaN,Fertilizer consumption measures the quantity o...,NaN,Annual,NaN,NaN,Weighted average,...,NaN,NaN,"Food and Agriculture Organization, electronic ...",Fertilizer consumption measures the quantity o...,"Factors such as the green revolution, has led ...",NaN,NaN,NaN,Open,NaN

In [580]:
print(wdi.columns)
print(wdi_series.columns)
print(wdi_series_time.columns)

Index(['country_name', 'country_code', 'indicator_name', 'indicator_code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', 'unnamed:_61'],
      dtype='object')
Index(['series_code', 'topic', 'indicator_name', 'short_definition',
       'long_definition', 'unit_of_measure', 'periodicity', 'base_period',
       'other_notes', 'aggregation_method', 'limitations_and_exceptions',
       'notes_from_original_source', 'general_comments', 'source',
       'statistical_concept_and_methodology', 'development_relevance',
       'related_source_links', 'other_web_links', 'related_indicators',
       'license_type', 'unnamed:_20'],
      dtype='object')
Index(['seriescode', 'year', 'description', 'unnamed:_3'], dtype='object')

In [581]:
for df_name in data_files:
    print(df_name, eval(df_name).shape)
    print('-----------------')
    print(eval(df_name).head(3))

country (263, 32)
-----------------
  country_code   short_name   table_name                     long_name  \
0          ABW        Aruba        Aruba                         Aruba
1          AFG  Afghanistan  Afghanistan  Islamic State of Afghanistan
2          AGO       Angola       Angola   People's Republic of Angola

  2-alpha_code   currency_unit  \
0           AW   Aruban florin
1           AF  Afghan afghani
2           AO  Angolan kwanza

                                       special_notes  \
0  SNA data for 2000-2011 are updated from offici...
1  Fiscal year end: March 20; reporting period fo...
2                                                NaN

                      region         income_group wb-2_code     ...      \
0  Latin America & Caribbean          High income        AW     ...
1                 South Asia           Low income        AF     ...
2         Sub-Saharan Africa  Lower middle income        AO     ...

                     imf_data_dissemination_standard  \
0                                                NaN
1  Enhanced General Data Dissemination System (e-...
2  Enhanced General Data Dissemination System (e-...

   latest_population_census                 latest_household_survey  \
0                      2010                                     NaN
1                      1979     Demographic and Health Survey, 2015
2                      2014  Demographic and Health Survey, 2015/16

  source_of_most_recent_income_and_expenditure_data  \
0                                               NaN
1           Integrated household survey (IHS), 2011
2        Integrated household survey (IHS), 2008/09

  vital_registration_complete latest_agricultural_census  \
0                         Yes                        NaN
1                         NaN                        NaN
2                         NaN                        NaN

  latest_industrial_data latest_trade_data latest_water_withdrawal_data  \
0                    NaN            2015.0                          NaN
1                    NaN            2015.0                       2000.0
2                    NaN            2015.0                       2005.0

  unnamed:_31
0         NaN
1         NaN
2         NaN

[3 rows x 32 columns]
country_series (6285, 4)
-----------------
  countrycode         seriescode  \
0         ABW  EG.EGY.PRIM.PP.KD
1         ABW     EG.ELC.RNEW.ZS
2         ABW     EG.FEC.RNEW.ZS

                                         description  unnamed:_3
0  Sources: Estimated based on UN Energy Statisti...         NaN
1               Sources: UN Energy Statistics (2014)         NaN
2               Sources: UN Energy Statistics (2014)         NaN
wdi (401016, 62)
-----------------
  country_name country_code  \
0   Arab World          ARB
1   Arab World          ARB
2   Arab World          ARB

                                      indicator_name     indicator_code  1960  \
0  2005 PPP conversion factor, GDP (LCU per inter...      PA.NUS.PPP.05   NaN
1  2005 PPP conversion factor, private consumptio...  PA.NUS.PRVT.PP.05   NaN
2  Access to clean fuels and technologies for coo...     EG.CFT.ACCS.ZS   NaN

   1961  1962  1963  1964  1965     ...            2008       2009       2010  \
0   NaN   NaN   NaN   NaN   NaN     ...             NaN        NaN        NaN
1   NaN   NaN   NaN   NaN   NaN     ...             NaN        NaN        NaN
2   NaN   NaN   NaN   NaN   NaN     ...       82.831932  83.474617  84.006076

        2011       2012       2013       2014  2015  2016  unnamed:_61
0        NaN        NaN        NaN        NaN   NaN   NaN          NaN
1        NaN        NaN        NaN        NaN   NaN   NaN          NaN
2  84.416148  84.734574  85.003645  85.244971   NaN   NaN          NaN

[3 rows x 62 columns]
foot_note (463231, 5)
-----------------
  countrycode      seriescode    year    description  unnamed:_4
0         ABW  AG.LND.FRST.K2  YR1990  Not specified         NaN
1         ABW  AG.LND.FRST.K2  YR2000  Not specified         NaN
2         ABW  AG.LND.FRST.K2  YR2005  Not specified         NaN
wdi_series_time (373, 4)
-----------------
       seriescode    year                                        description  \
0     SP.ADO.TFRT  YR1960         Interpolated using data for 1957 and 1962.
1  SP.DYN.AMRT.FE  YR1960  Interpolated using data for 1957 and 1962, if ...
2  SP.DYN.AMRT.MA  YR1960  Interpolated using data for 1957 and 1962, if ...

   unnamed:_3
0         NaN
1         NaN
2         NaN
wdi_series (1518, 21)
-----------------
         series_code                                 topic  \
0     AG.AGR.TRAC.NO  Environment: Agricultural production
1  AG.CON.FERT.PT.ZS  Environment: Agricultural production
2     AG.CON.FERT.ZS  Environment: Agricultural production

                                      indicator_name short_definition  \
0                   Agricultural machinery, tractors              NaN
1  Fertilizer consumption (% of fertilizer produc...              NaN
2  Fertilizer consumption (kilograms per hectare ...              NaN

                                     long_definition unit_of_measure  \
0  Agricultural machinery refers to the number of...             NaN
1  Fertilizer consumption measures the quantity o...             NaN
2  Fertilizer consumption measures the quantity o...             NaN

  periodicity base_period other_notes aggregation_method     ...      \
0      Annual         NaN         NaN                Sum     ...
1      Annual         NaN         NaN   Weighted average     ...
2      Annual         NaN         NaN   Weighted average     ...

  notes_from_original_source general_comments  \
0                        NaN              NaN
1                        NaN              NaN
2                        NaN              NaN

                                              source  \
0  Food and Agriculture Organization, electronic ...
1  Food and Agriculture Organization, electronic ...
2  Food and Agriculture Organization, electronic ...

                 statistical_concept_and_methodology  \
0  A tractor provides the power and traction to m...
1  Fertilizer consumption measures the quantity o...
2  Fertilizer consumption measures the quantity o...

                               development_relevance related_source_links  \
0  Agricultural land covers more than one-third o...                  NaN
1  Factors such as the green revolution, has led ...                  NaN
2  Factors such as the green revolution, has led ...                  NaN

  other_web_links  related_indicators  license_type unnamed:_20
0             NaN                 NaN          Open         NaN
1             NaN                 NaN          Open         NaN
2             NaN                 NaN          Open         NaN

[3 rows x 21 columns]

In [582]:
wdi_series_time['unnamed:_3'][~wdi_series_time['unnamed:_3'].isnull()]

Series([], Name: unnamed:_3, dtype: float64)

In [583]:
wdi['unnamed:_61'][~wdi['unnamed:_61'].isnull()]

Series([], Name: unnamed:_61, dtype: float64)

### Find variable names that exist in at least two data frames

In [584]:
data_files

['country',
 'country_series',
 'wdi',
 'foot_note',
 'wdi_series_time',
 'wdi_series']

In [585]:
from itertools import combinations

In [586]:
for pair in list(combinations(data_files, 2)):
    print(pair[0], pair[1], set(eval(pair[0])).intersection(eval(pair[1])))

country country_series set()
country wdi {'country_code'}
country foot_note set()
country wdi_series_time set()
country wdi_series set()
country_series wdi set()
country_series foot_note {'seriescode', 'description', 'countrycode'}
country_series wdi_series_time {'seriescode', 'description', 'unnamed:_3'}
country_series wdi_series set()
wdi foot_note set()
wdi wdi_series_time set()
wdi wdi_series {'indicator_name'}
foot_note wdi_series_time {'seriescode', 'description', 'year'}
foot_note wdi_series set()
wdi_series_time wdi_series set()

#### Removing the unnamed column

This column reflects a comma placed at the end of each line.

In [587]:
def remove_last_column_from_data_frame(pandas_data_frame):
    return (pandas_data_frame.iloc[:, :-1])

In [588]:
for df_name in data_files:
    df_name = remove_last_column_from_data_frame(eval(df_name))

In [589]:
data_frame_list = list(map(eval, data_files))

In [590]:
data_frame_list = list(map(remove_last_column_from_data_frame, data_frame_list))

In [591]:
country.describe()

,national_accounts_reference_year,latest_industrial_data,latest_trade_data,latest_water_withdrawal_data,unnamed:_31
count,54.000000,117.000000,193.000000,181.000000,0.0
mean,2007.777778,2011.230769,2013.585492,2006.839779,NaN
std,5.138338,3.546209,4.372523,5.074092,NaN
min,1995.000000,2000.000000,1982.000000,1975.000000,NaN
25%,2007.750000,2011.000000,2015.000000,2005.000000,NaN
50%,2010.000000,2013.000000,2015.000000,2007.000000,NaN
75%,2010.000000,2014.000000,2015.000000,2011.000000,NaN
max,2015.000000,2014.000000,2016.000000,2016.000000,NaN

In [592]:
data_frame_list[0].describe()

,national_accounts_reference_year,latest_industrial_data,latest_trade_data,latest_water_withdrawal_data
count,54.000000,117.000000,193.000000,181.000000
mean,2007.777778,2011.230769,2013.585492,2006.839779
std,5.138338,3.546209,4.372523,5.074092
min,1995.000000,2000.000000,1982.000000,1975.000000
25%,2007.750000,2011.000000,2015.000000,2005.000000
50%,2010.000000,2013.000000,2015.000000,2007.000000
75%,2010.000000,2014.000000,2015.000000,2011.000000
max,2015.000000,2014.000000,2016.000000,2016.000000

In [593]:
data_frame_dict = dict(zip(data_files, data_frame_list))

In [594]:
data_frame_dict['country'].describe()

,national_accounts_reference_year,latest_industrial_data,latest_trade_data,latest_water_withdrawal_data
count,54.000000,117.000000,193.000000,181.000000
mean,2007.777778,2011.230769,2013.585492,2006.839779
std,5.138338,3.546209,4.372523,5.074092
min,1995.000000,2000.000000,1982.000000,1975.000000
25%,2007.750000,2011.000000,2015.000000,2005.000000
50%,2010.000000,2013.000000,2015.000000,2007.000000
75%,2010.000000,2014.000000,2015.000000,2011.000000
max,2015.000000,2014.000000,2016.000000,2016.000000

In [595]:
data_frame_dict['wdi_series'].head()

,series_code,topic,indicator_name,short_definition,long_definition,unit_of_measure,periodicity,base_period,other_notes,aggregation_method,limitations_and_exceptions,notes_from_original_source,general_comments,source,statistical_concept_and_methodology,development_relevance,related_source_links,other_web_links,related_indicators,license_type
0,AG.AGR.TRAC.NO,Environment: Agricultural production,"Agricultural machinery, tractors",NaN,Agricultural machinery refers to the number of...,NaN,Annual,NaN,NaN,Sum,The data are collected by the Food and Agricul...,NaN,NaN,"Food and Agriculture Organization, electronic ...",A tractor provides the power and traction to m...,Agricultural land covers more than one-third o...,NaN,NaN,NaN,Open
1,AG.CON.FERT.PT.ZS,Environment: Agricultural production,Fertilizer consumption (% of fertilizer produc...,NaN,Fertilizer consumption measures the quantity o...,NaN,Annual,NaN,NaN,Weighted average,The FAO has revised the time series for fertil...,NaN,NaN,"Food and Agriculture Organization, electronic ...",Fertilizer consumption measures the quantity o...,"Factors such as the green revolution, has led ...",NaN,NaN,NaN,Open
2,AG.CON.FERT.ZS,Environment: Agricultural production,Fertilizer consumption (kilograms per hectare ...,NaN,Fertilizer consumption measures the quantity o...,NaN,Annual,NaN,NaN,Weighted average,The FAO has revised the time series for fertil...,NaN,NaN,"Food and Agriculture Organization, electronic ...",Fertilizer consumption measures the quantity o...,"Factors such as the green revolution, has led ...",NaN,NaN,NaN,Open
3,AG.LND.AGRI.K2,Environment: Land use,Agricultural land (sq. km),NaN,Agricultural land refers to the share of land ...,NaN,Annual,NaN,NaN,Sum,The data are collected by the Food and Agricul...,NaN,NaN,"Food and Agriculture Organization, electronic ...",Agricultural land constitutes only a part of a...,Agricultural land covers more than one-third o...,NaN,NaN,NaN,Open
4,AG.LND.AGRI.ZS,Environment: Land use,Agricultural land (% of land area),NaN,Agricultural land refers to the share of land ...,NaN,Annual,NaN,NaN,Weighted average,The data are collected by the Food and Agricul...,NaN,NaN,"Food and Agriculture Organization, electronic ...",Agriculture is still a major sector in many ec...,Agricultural land covers more than one-third o...,NaN,NaN,NaN,Open

In [596]:
data_frame_dict.keys()

dict_keys(['country', 'country_series', 'wdi', 'foot_note', 'wdi_series_time', 'wdi_series'])

In [597]:
data_frame_dict['wdi_series_time'].describe()

         seriescode    year                                        description
count           373     373                                                373
unique           22      56                                                 65
top     SP.ADO.TFRT  YR2007  The sample was drawn from the manufacturing se...
freq             56      20                                                 72

### Find and clean the NaN

In [598]:
print(wdi[~wdi.isnull()].shape)
print(wdi.shape)

(401016, 62)
(401016, 62)

In [599]:
data_frame_dict['wdi'].describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
count,3.464600e+04,3.850400e+04,4.043800e+04,4.073800e+04,4.126000e+04,4.414600e+04,4.380800e+04,4.529800e+04,4.514300e+04,4.685800e+04,...,2.107420e+05,2.090300e+05,2.099990e+05,2.203530e+05,2.134350e+05,2.132730e+05,2.060180e+05,2.064320e+05,1.802390e+05,7.847200e+04
mean,2.178158e+11,2.099292e+11,2.091562e+11,2.089139e+11,2.195626e+11,2.219298e+11,2.334058e+11,2.402292e+11,2.706203e+11,2.864734e+11,...,1.316334e+12,1.519461e+12,1.583031e+12,1.768675e+12,2.069117e+12,2.260721e+12,2.613876e+12,2.810514e+12,3.251939e+12,5.836203e+12
std,7.417156e+12,7.494681e+12,7.617565e+12,7.494952e+12,7.748888e+12,7.804329e+12,8.197073e+12,8.521856e+12,9.547505e+12,1.023759e+13,...,4.884959e+13,5.572656e+13,5.899416e+13,6.902532e+13,8.011993e+13,8.854745e+13,1.028927e+14,1.143514e+14,1.275749e+14,1.749897e+14
min,-8.181071e+13,-9.465063e+13,-1.071675e+14,-1.181558e+14,-1.319199e+14,-1.555435e+14,-1.778706e+14,-2.055397e+14,-2.332403e+14,-2.810371e+14,...,-1.691820e+14,-4.636015e+14,-1.962196e+14,-1.827709e+14,-2.168927e+14,-2.431930e+14,-2.853262e+14,-3.543931e+14,-3.783220e+14,-4.200882e+14
25%,3.836170e+00,4.207206e+00,4.251575e+00,4.383012e+00,4.554360e+00,4.399314e+00,4.669974e+00,4.684340e+00,4.848668e+00,4.421816e+00,...,5.308533e+00,5.285719e+00,5.124047e+00,5.197670e+00,5.541944e+00,5.049054e+00,5.224479e+00,5.171242e+00,4.926218e+00,5.642773e+00
50%,2.291684e+01,2.599807e+01,2.635870e+01,2.595990e+01,2.769845e+01,3.081165e+01,3.238250e+01,3.541733e+01,3.559000e+01,3.257950e+01,...,4.785024e+01,4.872150e+01,4.780000e+01,4.545861e+01,4.841519e+01,4.798310e+01,4.880993e+01,4.821000e+01,4.858924e+01,4.152594e+01
75%,9.392300e+04,9.876125e+04,6.949750e+04,8.000000e+04,1.036863e+05,2.931761e+05,4.000000e+05,4.077902e+05,6.590000e+05,5.408295e+05,...,1.585310e+06,1.923721e+06,1.919054e+06,9.400000e+05,1.730000e+06,1.567000e+06,2.690115e+06,1.450982e+06,9.009328e+06,6.795350e+07
max,5.507039e+14,5.823178e+14,5.930440e+14,5.797774e+14,6.002418e+14,6.067340e+14,6.236700e+14,6.322792e+14,7.012936e+14,7.491379e+14,...,5.987072e+15,6.176068e+15,6.497584e+15,6.864133e+15,7.831726e+15,8.649662e+15,9.621569e+15,1.105813e+16,1.153172e+16,1.240681e+16

#### Look at the highest WDI for most recent year

In [600]:
data_frame_dict['wdi'].loc[:, ['country_name', '2016']].sort_values('2016', ascending=False)

              country_name          2016
207094           Indonesia  1.240681e+16
207111           Indonesia  1.240681e+16
207171           Indonesia  1.231066e+16
207122           Indonesia  1.198672e+16
207180           Indonesia  1.196378e+16
208252  Iran, Islamic Rep.  1.188880e+16
209002  Iran, Islamic Rep.  1.021170e+16
207093           Indonesia  9.433034e+15
207153           Indonesia  9.357897e+15
207170           Indonesia  9.280948e+15
207121           Indonesia  9.116332e+15
207179           Indonesia  9.096191e+15
207055           Indonesia  8.326468e+15
207061           Indonesia  8.056053e+15
207196           Indonesia  7.154048e+15
207204           Indonesia  6.883633e+15
207060           Indonesia  6.099534e+15
207054           Indonesia  6.006139e+15
207914           Indonesia  5.416877e+15
207483           Indonesia  5.343590e+15
207203           Indonesia  5.325235e+15
207195           Indonesia  5.231840e+15
206733           Indonesia  5.004977e+15
207256           Indonesia  4.877901e+15
392412             Vietnam  4.502733e+15
392429             Vietnam  4.502733e+15
392489             Vietnam  4.387391e+15
207155           Indonesia  4.350756e+15
207151           Indonesia  4.254603e+15
392440             Vietnam  4.241575e+15
...                    ...           ...
400981            Zimbabwe           NaN
400983            Zimbabwe           NaN
400984            Zimbabwe           NaN
400985            Zimbabwe           NaN
400986            Zimbabwe           NaN
400987            Zimbabwe           NaN
400991            Zimbabwe           NaN
400992            Zimbabwe           NaN
400993            Zimbabwe           NaN
400994            Zimbabwe           NaN
400995            Zimbabwe           NaN
400997            Zimbabwe           NaN
400998            Zimbabwe           NaN
400999            Zimbabwe           NaN
401000            Zimbabwe           NaN
401001            Zimbabwe           NaN
401002            Zimbabwe           NaN
401003            Zimbabwe           NaN
401004            Zimbabwe           NaN
401005            Zimbabwe           NaN
401006            Zimbabwe           NaN
401007            Zimbabwe           NaN
401008            Zimbabwe           NaN
401009            Zimbabwe           NaN
401010            Zimbabwe           NaN
401011            Zimbabwe           NaN
401012            Zimbabwe           NaN
401013            Zimbabwe           NaN
401014            Zimbabwe           NaN
401015            Zimbabwe           NaN

[401016 rows x 2 columns]

In [601]:
#data_frame_dict['wdi'][data_frame_dict['wdi']['country_name'] == 'United States']
descriptor = data_frame_dict['wdi']['indicator_name'][22]
print(descriptor)
#data_frame_dict['wdi'][data_frame_dict['wdi']['indicator_name'] == descriptor]

Adequacy of social safety net programs (% of total welfare of beneficiary households)

In [602]:
data_frame_dict['wdi'].head(3)

,country_name,country_code,indicator_name,indicator_code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Arab World,ARB,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"2005 PPP conversion factor, private consumptio...",PA.NUS.PRVT.PP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,82.112282,82.831932,83.474617,84.006076,84.416148,84.734574,85.003645,85.244971,NaN,NaN

In [603]:
data_frame_dict['wdi']['indicator_name'][data_frame_dict['wdi']['indicator_name'].str.contains('GDP')]

0         2005 PPP conversion factor, GDP (LCU per inter...
76                      Agriculture, value added (% of GDP)
148                                  Broad money (% of GDP)
158               Central government debt, total (% of GDP)
205              Claims on central government, etc. (% GDP)
206       Claims on other sectors of the domestic econom...
209                  CO2 emissions (kg per 2010 US$ of GDP)
210                CO2 emissions (kg per 2011 PPP $ of GDP)
211                     CO2 emissions (kg per PPP $ of GDP)
226                                   Coal rents (% of GDP)
321                      Current account balance (% of GDP)
355       Discrepancy in expenditure estimate of GDP (co...
356       Discrepancy in expenditure estimate of GDP (cu...
360       Domestic credit provided by financial sector (...
361            Domestic credit to private sector (% of GDP)
362       Domestic credit to private sector by banks (% ...
426       Energy intensity level of primary energy (MJ/$...
429       Energy use (kg of oil equivalent) per $1,000 G...
434                                      Expense (% of GDP)
439                Exports of goods and services (% of GDP)
447       External balance on goods and services (% of GDP)
473          Final consumption expenditure, etc. (% of GDP)
498       Foreign direct investment, net inflows (% of GDP)
500       Foreign direct investment, net outflows (% of ...
504                                 Forest rents (% of GDP)
508                                 GDP (constant 2010 US$)
509                                      GDP (constant LCU)
510                                       GDP (current LCU)
511                                       GDP (current US$)
512              GDP deflator (base year varies by country)
                                ...
400098                Health expenditure, public (% of GDP)
400101                 Health expenditure, total (% of GDP)
400113    Household final consumption expenditure, etc. ...
400138             Imports of goods and services (% of GDP)
400165                     Industry, value added (% of GDP)
400172                   Inflation, GDP deflator (annual %)
400173    Inflation, GDP deflator: linked series (annual %)
400289                Manufacturing, value added (% of GDP)
400296    Market capitalization of listed domestic compa...
400326                         Merchandise trade (% of GDP)
400332                      Military expenditure (% of GDP)
400334                             Mineral rents (% of GDP)
400357                         Natural gas rents (% of GDP)
400358       Net acquisition of financial assets (% of GDP)
400417      Net incurrence of liabilities, total (% of GDP)
400422     Net investment in nonfinancial assets (% of GDP)
400424       Net lending (+) / net borrowing (-) (% of GDP)
400481                                 Oil rents (% of GDP)
400512            Personal remittances, received (% of GDP)
400664    PPP conversion factor, GDP (LCU per internatio...
400695    Price level ratio of PPP conversion factor (GD...
400760      Research and development expenditure (% of GDP)
400764                 Revenue, excluding grants (% of GDP)
400823               Services, etc., value added (% of GDP)
400852                Stocks traded, total value (% of GDP)
400877                               Tax revenue (% of GDP)
400922             Total natural resources rents (% of GDP)
400928                                     Trade (% of GDP)
400929                         Trade in services (% of GDP)
401005    Water productivity, total (constant 2010 US$ G...
Name: indicator_name, Length: 22968, dtype: object

##### Subset by GDP 2010 US$

In [604]:
def subset_by_indicator_name(indicator, pandas_data_frame):
    return pandas_data_frame[pandas_data_frame['indicator_name'] == indicator]

In [605]:
data_frame_dict['wdi']['indicator_name'][508]

'GDP (constant 2010 US$)'

In [606]:
# old way:
# subset_by_gdp = data_frame_dict['wdi'][data_frame_dict['wdi']['indicator_name'] == data_frame_dict['wdi']['indicator_name'][508]]
gdp_subset = subset_by_indicator_name('GDP (constant 2010 US$)', data_frame_dict['wdi'])

In [607]:
five_year_increments_from_1970 = list(map(str, list(range(1970, 2020, 5)))) + ['2016']
print(['country_name'] + five_year_increments_from_1970)

['country_name', '1970', '1975', '1980', '1985', '1990', '1995', '2000', '2005', '2010', '2015', '2016']

In [608]:
## gdp_subset.loc[:, ['country_name', '1970', '2016']].sort_values('2016', ascending=False)
gdp_subset.loc[:, ['country_name'] + five_year_increments_from_1970].sort_values('2016', ascending=False)

,country_name,1970,1975,1980,1985,1990,1995,2000,2005,2010,2015,2016
70382,World,1.901407e+13,2.296866e+13,2.781486e+13,3.162948e+13,3.785825e+13,4.215932e+13,4.994133e+13,5.805077e+13,6.590615e+13,7.548762e+13,7.732785e+13
21774,High income,1.512636e+13,1.790064e+13,2.152482e+13,2.442359e+13,2.934359e+13,3.269812e+13,3.839861e+13,4.288100e+13,4.518776e+13,4.918669e+13,5.002301e+13
52154,OECD members,1.515317e+13,1.787917e+13,2.139268e+13,2.447885e+13,2.926661e+13,3.246365e+13,3.818212e+13,4.248480e+13,4.458834e+13,4.857737e+13,4.941928e+13
56711,Post-demographic dividend,1.471481e+13,1.730065e+13,2.064402e+13,2.365730e+13,2.829240e+13,3.116998e+13,3.645923e+13,4.053661e+13,4.239602e+13,4.574463e+13,4.649451e+13
24812,IDA & IBRD total,3.891632e+12,5.181332e+12,6.499815e+12,7.421970e+12,8.785168e+12,9.811259e+12,1.199381e+13,1.570809e+13,2.139621e+13,2.711526e+13,2.814737e+13
38483,Low & middle income,3.724160e+12,4.990522e+12,6.246212e+12,7.173810e+12,8.469142e+12,9.410652e+12,1.148510e+13,1.510503e+13,2.066214e+13,2.626777e+13,2.728418e+13
47597,Middle income,3.646440e+12,4.904498e+12,6.156243e+12,7.076914e+12,8.361422e+12,9.302202e+12,1.135570e+13,1.494455e+13,2.043146e+13,2.595173e+13,2.695453e+13
23293,IBRD only,3.524431e+12,4.743924e+12,5.983404e+12,6.875850e+12,8.173892e+12,9.144553e+12,1.119332e+13,1.462941e+13,1.995436e+13,2.528164e+13,2.625427e+13
12660,Europe & Central Asia,8.446473e+12,9.913369e+12,1.160244e+13,1.265864e+13,1.480060e+13,1.512870e+13,1.742823e+13,1.959380e+13,2.090547e+13,2.240636e+13,2.279558e+13
6584,East Asia & Pacific,2.834433e+12,3.589683e+12,4.562104e+12,5.781835e+12,7.615591e+12,9.333167e+12,1.095072e+13,1.341439e+13,1.693426e+13,2.105118e+13,2.191756e+13
68863,Upper middle income,2.825918e+12,3.898698e+12,4.871844e+12,5.569335e+12,6.503741e+12,7.193532e+12,8.810512e+12,1.155179e+13,1.577217e+13,1.988473e+13,2.057376e+13
49116,North America,5.307191e+12,6.104905e+12,7.313828e+12,8.580818e+12,1.008225e+13,1.140576e+13,1.406074e+13,1.593825e+13,1.658358e+13,1.839922e+13,1.869383e+13
17217,European Union,6.773230e+12,7.910885e+12,9.252267e+12,1.003530e+13,1.182826e+13,1.278323e+13,1.476930e+13,1.623933e+13,1.697786e+13,1.789053e+13,1.822579e+13
30888,Late-demographic dividend,1.763363e+12,2.531961e+12,3.539889e+12,4.156875e+12,5.105645e+12,5.704982e+12,7.091190e+12,9.635058e+12,1.351263e+13,1.732960e+13,1.797171e+13
384815,United States,4.779684e+12,5.451141e+12,6.529174e+12,7.686571e+12,9.064414e+12,1.029902e+13,1.271306e+13,1.440809e+13,1.496437e+13,1.659745e+13,1.686560e+13
11141,Euro area,5.035877e+12,5.965121e+12,7.065060e+12,7.594939e+12,8.980328e+12,9.752255e+12,1.122475e+13,1.214168e+13,1.264294e+13,1.310138e+13,1.333079e+13
8103,East Asia & Pacific (excluding high income),3.980603e+11,5.363539e+11,7.526088e+11,1.064110e+12,1.514733e+12,2.440854e+12,3.304874e+12,4.943073e+12,7.874829e+12,1.119364e+13,1.190387e+13
9622,East Asia & Pacific (IDA & IBRD countries),3.972849e+11,5.353092e+11,7.511428e+11,1.062037e+12,1.511782e+12,2.436006e+12,3.298262e+12,4.933294e+12,7.859521e+12,1.117211e+13,1.188096e+13
5065,Early-demographic dividend,1.902882e+12,2.519621e+12,3.043205e+12,3.231994e+12,3.828997e+12,4.601154e+12,5.497625e+12,6.728037e+12,8.490185e+12,1.060857e+13,1.103629e+13
134180,China,1.868358e+11,2.488924e+11,3.413593e+11,5.661856e+11,8.295619e+11,1.479027e+12,2.237081e+12,3.569853e+12,6.100620e+12,8.908301e+12,9.505157e+12
41521,Lower middle income,8.244616e+11,1.021521e+12,1.301752e+12,1.524596e+12,1.857690e+12,2.108799e+12,2.544917e+12,3.392977e+12,4.659868e+12,6.065946e+12,6.376760e+12
219244,Japan,1.923648e+12,2.402014e+12,2.976676e+12,3.669898e+12,4.682814e+12,5.063810e+12,5.348931e+12,5.672311e+12,5.700098e+12,5.986140e+12,6.045913e+12
32407,Latin America & Caribbean,1.376698e+12,1.886871e+12,2.469842e+12,2.571338e+12,2.857403e+12,3.365985e+12,3.877094e+12,4.430968e+12,5.334360e+12,5.954017e+12,5.914280e+12
35445,Latin America & the Caribbean (IDA & IBRD coun...,1.316540e+12,1.811898e+12,2.372280e+12,2.454192e+12,2.724648e+12,3.233107e+12,3.718601e+12,4.244212e+12,5.141957e+12,5.755294e+12,5.716694e+12
33926,Latin America & Caribbean (excluding high income),1.268500e+12,1.771203e+12,2.310991e+12,2.414478e+12,2.660234e+12,3.113236e+12,3.568941e+12,4.061764e+12,4.923452e+12,5.491508e+12,5.447959e+12
15698,Europe & Central Asia (IDA & IBRD countries),NaN,NaN,NaN,NaN,2.707177e+12,2.016143e+12,2.293485e+12,3.014415e+12,3.635574e+12,4.240995e+12,4.308305e+12
181269,Germany,1.534053e+12,1.729252e+12,2.040544e+12,2.183636e+12,2.568634e+12,2.840972e+12,3.123908e+12,3.213777e+12,3.417095e+12,3.696613e+12,3.765638e+12
14179,Europe & Central Asia (excluding high income),NaN,NaN,NaN,NaN,2.485663e+12,1.763826e+12,1.967281e+12,2.634647e+12,3.156252e+12,3.684814e+12,3.737226e+12
43040,Middle East & North Africa,5.558607e+11,8.725880e+11,1.084136e+12,1.023443e+12,1.237357e+12,1.459045e+12,1.788467e+12,2.215311e+12,2.747992e+12,3.197899e+12,3.303032e+12
62787,South Asia (IDA & IBRD),2.706551e+11,3.055115e+11,3.648124e+11,4.718407e+11,6.216850e+11,7.932647e+11,1.041766e+12,1.413874e+12,2.041877e+12,2.795156e+12,2.986406e+12
...,...,...,...,...,...,...,...,...,...,...,...,...
147851,Curacao,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153927,Djibouti,NaN,NaN,NaN,NaN,9.216109e+08,7.874500e+08,7.696918e+08,8.910163e+08,1.128612e+09,1.465244e+09,NaN
164560,Eritrea,NaN,NaN,NaN,NaN,NaN,1.668458e+09,1.939336e+09,2.200768e+09,2.117040e+09,NaN,NaN
169117,Faroe Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.301178e+09,NaN,NaN
175193,French Polynesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184307,Gibraltar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187345,Greenland,7.264603e+08,9.909452e+08,1.380469e+09,1.350621e+09,1.517655e+09,1.501009e+09,1.809247e+09,1.982166e+09,2.306502e+09,2.325119e+09,NaN
190383,Guam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.845859e+09,4.895000e+09,5.180817e+09,NaN
208611,"Iran, Islamic Rep.",1.619364e+11,2.388671e+11,1.651168e+11,2.015371e+11,2.055136e+11,2.373275e+11,2.819279e+11,3.685304e+11,4.677902e+11,4.569442e+11,NaN
213168,Isle of Man,NaN,NaN,NaN,9.782656e+08,1.594029e+09,1.815865e+09,2.887169e+09,3.815415e+09,5.420119e+09,NaN,NaN
226839,"Korea, Dem. People’s Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231396,Kuwait,NaN,NaN,NaN,NaN,NaN,6.679906e+10,7.340158e+10,1.089315e+11,1.154191e+11,1.396825e+11,NaN
242029,Libya,NaN,NaN,NaN,NaN,NaN,NaN,4.802634e+10,6.171405e+10,7.477344e+10,NaN,NaN
243548,Liechtenstein,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.082366e+09,NaN,NaN
269371,Monaco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.350675e+09,NaN,NaN
284561,New Caledonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292156,Northern Mariana Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.237161e+09,7.990000e+08,8.069305e+08,NaN
295194,Oman,6.687774e+09,8.816545e+09,1.143682e+10,2.318494e+10,2.700691e+10,3.592041e+10,4.240780e+10,4.427854e+10,5.864162e+10,7.169478e+10,NaN
301270,Papua New Guinea,3.016083e+09,3.669632e+09,3.860616e+09,4.132943e+09,4.375302e+09,6.606976e+09,6.537093e+09,7.275142e+09,9.716103e+09,NaN,NaN
310384,Puerto Rico,3.062030e+10,3.795343e+10,5.138788e+10,5.457247e+10,6.859377e+10,8.090619e+10,9.497608e+10,1.099612e+11,9.838127e+10,NaN,NaN
319498,San Marino,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
331650,Sint Maarten (Dutch part),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
337726,Somalia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
340764,South Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.572736e+10,8.856231e+09,NaN
348359,St. Martin (French part),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
358992,Syrian Arab Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
365068,Timor-Leste,NaN,NaN,NaN,NaN,NaN,NaN,5.560000e+08,6.300000e+08,9.430000e+08,1.224482e+09,NaN
375701,Turks and Caicos Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
390891,"Venezuela, RB",1.660459e+11,1.919844e+11,2.166457e+11,2.067635e+11,2.349795e+11,2.783612e+11,2.889583e+11,3.277814e+11,3.931907e+11,NaN,NaN
393929,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.232597e+09,4.339000e+09,3.165495e+09,NaN

#### make frame of GDP subset in five year increments

In [609]:
gdp_subset_every_five_years = gdp_subset.loc[:, ['country_name'] + five_year_increments_from_1970].sort_values('2016', ascending=False)

In [610]:
gdp_subset_every_five_years.head(3)

,country_name,1970,1975,1980,1985,1990,1995,2000,2005,2010,2015,2016
70382,World,1.901407e+13,2.296866e+13,2.781486e+13,3.162948e+13,3.785825e+13,4.215932e+13,4.994133e+13,5.805077e+13,6.590615e+13,7.548762e+13,7.732785e+13
21774,High income,1.512636e+13,1.790064e+13,2.152482e+13,2.442359e+13,2.934359e+13,3.269812e+13,3.839861e+13,4.288100e+13,4.518776e+13,4.918669e+13,5.002301e+13
52154,OECD members,1.515317e+13,1.787917e+13,2.139268e+13,2.447885e+13,2.926661e+13,3.246365e+13,3.818212e+13,4.248480e+13,4.458834e+13,4.857737e+13,4.941928e+13

### Create a graph

In [611]:
import louvain
import igraph as ig

In [612]:
gdp_subset_every_five_years.iloc[:, 1:].head(3)

,1970,1975,1980,1985,1990,1995,2000,2005,2010,2015,2016
70382,1.901407e+13,2.296866e+13,2.781486e+13,3.162948e+13,3.785825e+13,4.215932e+13,4.994133e+13,5.805077e+13,6.590615e+13,7.548762e+13,7.732785e+13
21774,1.512636e+13,1.790064e+13,2.152482e+13,2.442359e+13,2.934359e+13,3.269812e+13,3.839861e+13,4.288100e+13,4.518776e+13,4.918669e+13,5.002301e+13
52154,1.515317e+13,1.787917e+13,2.139268e+13,2.447885e+13,2.926661e+13,3.246365e+13,3.818212e+13,4.248480e+13,4.458834e+13,4.857737e+13,4.941928e+13

In [613]:
corr_gdp_subset_every_five_years = gdp_subset_every_five_years.iloc[:, 1:].T.corr()

In [614]:
#G = ig.Graph.Adjacency(corr_gdp_subset_every_five_years)
G = ig.Graph.Adjacency(corr_gdp_subset_every_five_years.as_matrix().tolist())

In [615]:
GG = ig.Graph.Weighted_Adjacency(corr_gdp_subset_every_five_years.as_matrix().tolist())

In [616]:
np.triu(corr_gdp_subset_every_five_years.as_matrix(), k=1)

array([[ 0.        ,  0.99007802,  0.98938927, ...,         nan,
         0.98278809, -0.85326778],
       [ 0.        ,  0.        ,  0.99997188, ...,         nan,
         0.96335127, -0.89959562],
       [ 0.        ,  0.        ,  0.        , ...,         nan,
         0.96098129, -0.90944124],
       ...,
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
                nan,         nan],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  1.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ]])

In [617]:
np.triu_indices(corr_gdp_subset_every_five_years.shape[0], k=1)

(array([  0,   0,   0, ..., 261, 261, 262]),
 array([  1,   2,   3, ..., 262, 263, 263]))

In [618]:
len(corr_gdp_subset_every_five_years.as_matrix()[np.triu_indices(corr_gdp_subset_every_five_years.shape[0], k=1)])

34716

In [619]:
upper_triangle_corr_gdp_subset = corr_gdp_subset_every_five_years.as_matrix()[np.triu_indices(corr_gdp_subset_every_five_years.shape[0], k=1)]

In [620]:
print(len(np.where(np.isnan(corr_gdp_subset_every_five_years.as_matrix()))[0]))
print(np.where(np.isnan(corr_gdp_subset_every_five_years.as_matrix())))

9703
(array([  0,   0,   0, ..., 263, 263, 263]), array([224, 227, 230, ..., 258, 259, 261]))

In [621]:
#corr_gdp_subset_every_five_years.iloc[0, 227]
gdp_subset_every_five_years.iloc[224, :].T

country_name    Not classified
1970                       NaN
1975                       NaN
1980                       NaN
1985                       NaN
1990                       NaN
1995                       NaN
2000                       NaN
2005                       NaN
2010                       NaN
2015                       NaN
2016                       NaN
Name: 50635, dtype: object

In [622]:
print("Percent nan: {:.3f}%".format(
len(np.where(np.isnan(upper_triangle_corr_gdp_subset))[0]) / upper_triangle_corr_gdp_subset.shape[0] * 100))

Percent nan: 13.947%

In [623]:
print("Percent positive: {:.3f}%".format(
len(np.where(upper_triangle_corr_gdp_subset > 0)[0]) / upper_triangle_corr_gdp_subset.shape[0] * 100))

Percent positive: 81.556%

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in greater

In [624]:
print("Percent positive: {:.3f}%".format(
len(np.where(upper_triangle_corr_gdp_subset <= 0)[0]) / upper_triangle_corr_gdp_subset.shape[0] * 100))

Percent positive: 4.496%

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in less_equal

In [625]:
4.496 + 81.556 + 13.947

99.999

#### Will keep only positive for the graph

In [626]:
positive_upper_triangle_indices = np.where(upper_triangle_corr_gdp_subset > 0)[0]

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in greater
  """Entry point for launching an IPython kernel.

In [627]:
#np.triu_indices(corr_gdp_subset_every_five_years.shape[0], k=1)
#np.where(corr_gdp_subset_every_five_years > 0)
#np.triu_indices(corr_gdp_subset_every_five_years.as_matrix().shape[0], k=1))

In [628]:
gdp_subset_every_five_years.ix[[70382, 337726]]

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

,country_name,1970,1975,1980,1985,1990,1995,2000,2005,2010,2015,2016
70382,World,1.901407e+13,2.296866e+13,2.781486e+13,3.162948e+13,3.785825e+13,4.215932e+13,4.994133e+13,5.805077e+13,6.590615e+13,7.548762e+13,7.732785e+13
337726,Somalia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [629]:
GG